@charset "UTF-8";
// $breakpoints: (
//   'sm': 'screen and (min-width: 400px)',
//   'md': 'screen and (min-width: 768px)',
//   'lg': 'screen and (min-width: 1000px)',
//   'xl': 'screen and (min-width: 1200px)',
// ) !default;

$breakpoints: (
  s: 'screen and (max-width: 767px)',
  m: 'screen and (max-width: 1024px)',
  l: 'screen and (max-width: 1280px)'
);
@mixin mq($bp) {
    @media #{map-get($breakpoints, $bp)} {
        @content;
    }
}

#wrapper{
    .inner{
        /*
	    header
	    */
        .header{
		    width: 100%;
            background-color: #fff;
            // padding: 10px 0;
            position: fixed;
            z-index: 100000;
            .header_inner{
                margin: 0px auto;
                width: 920px;
                // padding: 30px 0 0px;
                .header_wrapper {
                    display: flex;
                    // justify-content: space-between;

                    padding: 0 240px;
                    .header_logo {
                        // margin-left: 50px;
                        width: 100px;
                        img{
                            width: 100%;
                        }
                    }
                    .header_navi_wrapper {
                        // margin-right: 50px;
                        // margin: 0 100px;
                        .header_navi {
                            display: flex;
                            .header_navi_item {
                                margin-left: 38px;
                                .header_navi_item a{
                                    text-decoration: none;
                                    position: relative;
                                    display: inline-block;
                                    text-decoration: none;
                                    .header_navi_item a:after{
                                        position: absolute;
                                        bottom: -4px;
                                        left: 0;
                                        content: '';
                                        width: 100%;
                                        height: 2px;
                                        background: #333;
                                        transform: scale(0, 1);
                                        transform-origin: left top;
                                        transition: transform .3s;
                                        .header_navi_item a:hover::after {
                                            transform: scale(1, 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .main{
            .main_inner{
                margin: 0px auto;
                // width: 640px;
                width: 920px;
                padding: 100px 0 0px;

                @include mq(s){
                    width: 400px;
                }
                @include mq(m){
                    width: 768px;
                }
                @include mq(l){
                    width: 920px;
                }
            }
        }
        .profile{
            .profile_inner{
                margin: 0px auto;
                // width: 640px;
                width: 920px;
                padding: 200px 0 200px;
                .profile_policy{
                    text-align: center;
                }
            }
        }
        #footer{
            .footer_wrapper{
                .footer_inner{
                    padding: 20px 0;;
                    width: 100%;
                    text-align: center;
                    small{
                        font-size: 15px;
                        border-top: solid 2px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}